@import 'reset';

html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sandbox-container {
  border: 2px solid #336699;
  height: 500px;
  width: 500px;
}
